@import "var";
@import "footer";
@import "buttons";
@import "thumb";
@import "menubar";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-banner {
  padding      		: 30px;
  display      		: flex;
  align-items  		: center;
  justify-content : space-between;
}

.top-banner a img {
  height: 130px;
}

.banner-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

i {}

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}



