$red        : #ce5353;
$red-hover  : #B74A4A;

.btn {
  background      : $red;
  color           : white;
  font-size       : 13px;
  text-decoration : none;
  padding         : 10px 20px;
  transition      : all 0.5s;
  position        : relative;

  i {
    padding-right: 10px;
    margin-left : -5px;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    content: "";
    background: $red-hover;
  }

  &:hover {
    transition: all 0.5s;
    background: $red-hover;
  }
}

.divider {
  border-right: solid 1px #ccc;
  margin-right: 10px;
  margin-left: 10px;
}

.btn.outline {
  background: transparent;
  border: solid 1px white;

  &::after {
    background: transparent;
  }
}