footer {
  background  : #3F4249;
  display     : flex;
  flex-flow   : column nowrap;

  .upper-footer {
    padding: 20px;

    ul {
      list-style-type: none;
      padding   : 0;
      margin    : 0;

      li a{
        color: white;
        text-decoration: none;
      }
    }
  }

  .lower-footer {
    background: #24272D;
    color: white;
  }
}



