nav {
  display         : flex;
  background      : #3F4249;
  width           : 100%;
  align-items     : center;
  justify-content : space-between;
  position        : relative;
  

  &.fixed {
    transition      : all 0.5s;
    position        : fixed;
    top             : 0;
    z-index         : 99999;
  }

  //GLOBAL first level navigation
  ul  {
    padding         : 0;
    margin          : 0;
    display         : flex;
    list-style-type : none;
    
    & > li {
      //padding   : 15px 10px;
      a{
        font-size       : 14px;
        text-decoration : none;
        color           : white;
        height          : 100%;
        padding         : 15px 10px;
      }
    }
  }

  ul.first-level > li a:focus ul, ul.first-level > li:hover ul  {
    display         : flex;
  }

  ul.first-level > li.has-sub-menu > a {
    position: relative;

    &:hover:after, &:focus:after {
      content       : "";
      position      : absolute;
      height        : 10px;
      left          : 45%;
      bottom        : 0;
      width         : 0; 
      height        : 0; 
      border-left   : 10px solid transparent;
      border-right  : 10px solid transparent;
      border-bottom : 10px solid #eeeeee;
      z-index       : 9999;
    }
  }



  ul.second-level {

    position        : absolute;
    display         : flex;
    flex-flow       : row wrap;
    list-style-type : none;
    z-index         : 99999;
    padding         : 0;
    margin          : 0;
    background      : #eeeeee;
    left            : 0px;
    font-size       : 14px;
    width           : 100%;
    top             : calc(100% - 1px);
    display         : none;
    border-bottom   : solid 1px #ccc;

    li {
      padding       : 20px 0;
      border-right  : solid 1px #ccc;

      a {
        transition    : all 0.2s;
        color         : #666;
        width         : 100%;
        height        : 100%;
        padding       : 18px 10px;
        
        &:hover, &:focus {
          transition    : all 0.2s;
          color: red;
        }
      }
    }
  }


  //right side navigation specific.
  .right li {
    padding: 15px 5px;
  }
}

@media (max-width: 600px) {
  nav {
    width           : 100%;
    justify-content : space-between;
    
    &.fixed {
      transition      : all 0.5s;
      position        : fixed;
      top             : 0;
      z-index         : 99999;
    }

    //GLOBAL first level navigation
    ul  {
      padding         : 0;
      margin          : 0;
      display         : flex;
      flex-flow       : column;
      list-style-type : none;

      
      & > li {
        //padding   : 15px 10px;
        a{
          font-size       : 14px;
          text-decoration : none;
          color           : white;
          height          : 100%;
          padding         : 15px 10px;
        }
      }
    }

    ul.left {
      position: absolute;
    }
    ul.first-level > li a:focus ul, ul.first-level > li:hover ul  {
      display         : flex;
    }

    ul.first-level > li.has-sub-menu > a {
      position: relative;

      &:hover:after, &:focus:after {
        content       : "";
        position      : absolute;
        height        : 10px;
        left          : 45%;
        bottom        : 0;
        width         : 0; 
        height        : 0; 
        border-left   : 10px solid transparent;
        border-right  : 10px solid transparent;
        border-bottom : 10px solid #eeeeee;
        z-index       : 9999;
      }
    }



    ul.second-level {

      position        : absolute;
      display         : flex;
      flex-flow       : row wrap;
      list-style-type : none;
      z-index         : 99999;
      padding         : 0;
      margin          : 0;
      background      : #eeeeee;
      left            : 0px;
      font-size       : 14px;
      width           : 100%;
      top             : calc(100% - 1px);
      display         : none;
      border-bottom   : solid 1px #ccc;

      li {
        padding       : 20px 0;
        border-right  : solid 1px #ccc;

        a {
          transition    : all 0.2s;
          color         : #666;
          width         : 100%;
          height        : 100%;
          padding       : 18px 10px;
          
          &:hover, &:focus {
            transition    : all 0.2s;
            color: red;
          }
        }
      }
    }


    //right side navigation specific.
    .right li {
      padding: 15px 5px;
    }
  }
}
