.thumb-panel {
  width           : 100%;
  display         : flex;
  justify-content : center;
  align-items     : center;
  background      : #eeeeee;
  padding         : 20px;
  flex-flow       : row wrap;
}

.thumb {
  width           : 100%;
  max-width       : 180px;
  min-width       : 150px;
  margin          : 10px;
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  padding         : 20px 10px;
  height          : 210px;
  background      : white;
  justify-content : space-between;
  border-right    : solid 1px #E4E1E1;
  border-bottom   : solid 1px #E4E1E1;

  i {
    transition: all 0.2s;
    font-size: 35px;
    margin-bottom: 10px;
  }

  &:hover {
    i {
      transition: all 0.2s;
      font-size: 40px;
    }
  }
  
  p {
    padding   : 0;
    margin    : 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

