footer {
  background: #3F4249;
  display: flex;
  flex-flow: column nowrap; }
  footer .upper-footer {
    padding: 20px; }
    footer .upper-footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      footer .upper-footer ul li a {
        color: white;
        text-decoration: none; }
  footer .lower-footer {
    background: #24272D;
    color: white; }

.btn {
  background: #ce5353;
  color: white;
  font-size: 13px;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.5s;
  position: relative; }
  .btn i {
    padding-right: 10px;
    margin-left: -5px; }
  .btn::after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    content: "";
    background: #B74A4A; }
  .btn:hover {
    transition: all 0.5s;
    background: #B74A4A; }

.divider {
  border-right: solid 1px #ccc;
  margin-right: 10px;
  margin-left: 10px; }

.btn.outline {
  background: transparent;
  border: solid 1px white; }
  .btn.outline::after {
    background: transparent; }

.thumb-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  padding: 20px;
  flex-flow: row wrap; }

.thumb {
  width: 100%;
  max-width: 180px;
  min-width: 150px;
  margin: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 20px 10px;
  height: 210px;
  background: white;
  justify-content: space-between;
  border-right: solid 1px #E4E1E1;
  border-bottom: solid 1px #E4E1E1; }
  .thumb i {
    transition: all 0.2s;
    font-size: 35px;
    margin-bottom: 10px; }
  .thumb:hover i {
    transition: all 0.2s;
    font-size: 40px; }
  .thumb p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: center; }

nav {
  display: flex;
  background: #3F4249;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  nav.fixed {
    transition: all 0.5s;
    position: fixed;
    top: 0;
    z-index: 99999; }
  nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none; }
    nav ul > li a {
      font-size: 14px;
      text-decoration: none;
      color: white;
      height: 100%;
      padding: 15px 10px; }
  nav ul.first-level > li a:focus ul, nav ul.first-level > li:hover ul {
    display: flex; }
  nav ul.first-level > li.has-sub-menu > a {
    position: relative; }
    nav ul.first-level > li.has-sub-menu > a:hover:after, nav ul.first-level > li.has-sub-menu > a:focus:after {
      content: "";
      position: absolute;
      height: 10px;
      left: 45%;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #eeeeee;
      z-index: 9999; }
  nav ul.second-level {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    z-index: 99999;
    padding: 0;
    margin: 0;
    background: #eeeeee;
    left: 0px;
    font-size: 14px;
    width: 100%;
    top: calc(100% - 1px);
    display: none;
    border-bottom: solid 1px #ccc; }
    nav ul.second-level li {
      padding: 20px 0;
      border-right: solid 1px #ccc; }
      nav ul.second-level li a {
        transition: all 0.2s;
        color: #666;
        width: 100%;
        height: 100%;
        padding: 18px 10px; }
        nav ul.second-level li a:hover, nav ul.second-level li a:focus {
          transition: all 0.2s;
          color: red; }
  nav .right li {
    padding: 15px 5px; }

@media (max-width: 600px) {
  nav {
    width: 100%;
    justify-content: space-between; }
    nav.fixed {
      transition: all 0.5s;
      position: fixed;
      top: 0;
      z-index: 99999; }
    nav ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: column;
      list-style-type: none; }
      nav ul > li a {
        font-size: 14px;
        text-decoration: none;
        color: white;
        height: 100%;
        padding: 15px 10px; }
    nav ul.left {
      position: absolute; }
    nav ul.first-level > li a:focus ul, nav ul.first-level > li:hover ul {
      display: flex; }
    nav ul.first-level > li.has-sub-menu > a {
      position: relative; }
      nav ul.first-level > li.has-sub-menu > a:hover:after, nav ul.first-level > li.has-sub-menu > a:focus:after {
        content: "";
        position: absolute;
        height: 10px;
        left: 45%;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #eeeeee;
        z-index: 9999; }
    nav ul.second-level {
      position: absolute;
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
      z-index: 99999;
      padding: 0;
      margin: 0;
      background: #eeeeee;
      left: 0px;
      font-size: 14px;
      width: 100%;
      top: calc(100% - 1px);
      display: none;
      border-bottom: solid 1px #ccc; }
      nav ul.second-level li {
        padding: 20px 0;
        border-right: solid 1px #ccc; }
        nav ul.second-level li a {
          transition: all 0.2s;
          color: #666;
          width: 100%;
          height: 100%;
          padding: 18px 10px; }
          nav ul.second-level li a:hover, nav ul.second-level li a:focus {
            transition: all 0.2s;
            color: red; }
    nav .right li {
      padding: 15px 5px; } }
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #666; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.top-banner {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.top-banner a img {
  height: 130px; }

.banner-wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
