ul.slick-slider {
  padding     : 0;
  margin      : 0;
  width       : 100%;
}

ul.slick-slider .slick-slide {
  display         : flex !important;
  align-items     : center;
  justify-content : center;
  background      : black;
  position        : relative;
}

ul.slick-slider a {
  width : 100%;
}

ul.slick-slider .caption {
  position    : absolute;
  width       : 100%;
  height      : 100%;
  left        : 0;
  top         : 0;
}

ul.slick-slider p {
  color     : white;
  font-size : 40px;
}

ul.slick-slider img {
  width: 100%;
}

ul.slick-slider .slick-dots {
  opacity     : 0.8;
  position    : absolute;
  text-align  : left;
}

ul.slick-slider .slick-dots.bottom {
  bottom    : 0;
}

ul.slick-slider .slick-dots.top {
  top    : 0;
  height : 0; 
}

ul.slick-slider .slick-dots.right {
 text-align: right;
}

ul.slick-slider .slick-dots.left {
  text-align: left;
}

ul.slick-slider .slick-dots li button {
  transition    : all 0.5s;
  content       : 0;
  background    : white;
  border-radius : 50%;
  width         : 10px !important;
  height        : 10px !important;
}

ul.slick-slider .slick-dots li button::before {
  font-size   : 0 !important;
}

ul.slick-slider .slick-dots li {
  padding-top : 10px;
  width       : 15px;
  margin      : 0;
} 

ul.slick-slider .slick-dots li:first-child {
  padding-left: 10px;
}

ul.slick-slider .slick-dots li:last-child {
  padding-right: 10px;
}

ul.slick-slider .slick-dots li.slick-active button {
  transition  : all 0.5s;
  background  : green;
}